:root {
  --black: #303030;
  --white: #f1f1f1;
  --gray: #aaaaaa;
  --primary: #001869;
  --secondry: #0e46a3;
  --hover: #9ac8cd;
  --light: #e1f7f5;
  --light-blue: #00ccff;
  --dark-green: #2e6d56;
  --light-green: #c1dcd3;
  --name-of-section: clamp(2rem, 3.5vw, 4rem);
}

@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand-VariableFont_wght.ttf);
  font-display: swap;
}

@font-face {
  font-family: Heebo;
  src: url(../fonts/Heebo-VariableFont_wght.ttf);
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Quicksand, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  text-align: center;
  user-select: none;
  white-space: nowrap;
}

img {
  object-fit: cover;
}
